{% extends 'base.html.twig' %}

{% block title %}{{ "Monthly fees" | trans() }}{% endblock %}

{% block body %}
    <form class="form-inline filter-form" method="get" action="{{ path('monthly_fees_list') }}">
        <div class="panel panel-default no-bg  b-gray-dark">
            <div class="panel-body">
                {% if not app.user.isUser() %}
                    <div class="form-group">
                        <select class="form-control filter" name="filters[user]">
                            <option value="">{{ 'Select user' | trans() }}</option>
                            {% for owner in users %}
                                <option {% if filters.user is defined and filters.user == owner.id %}selected{% endif %} value="{{ owner.id }}">
                                    {{ owner.fullname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="form-group">
                    <input class="form-control filter" name="filters[document]" placeholder="{{ 'Search by code document' | trans() }}"
                           value="{% if filters.document is defined %}{{ filters.document }}{% endif %}">
                </div>
                <div class="form-group pull-right">
                    <select class="form-control filter" id="perPage" name="perPage">
                        <option value="25" {{ perPage == 25 ? 'selected' }}>25</option>
                        <option value="50" {{ perPage == 50 ? 'selected' }}>50</option>
                        <option value="100" {{ perPage == 100 ? 'selected' }}>100</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="small text-muted text-uppercase"><strong>{{ 'Status' | trans() }}</strong></th>
                {% if not app.user.isUser() %}
                    <th class="small text-muted text-uppercase"><strong>{{ 'Owner' | trans() }}</strong></th>
                {% endif %}
                <th class="small text-muted text-uppercase"><strong>{{ 'Sum' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Document' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Payment date' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Actions' | trans() }}</strong></th>
            </tr>
        </thead>
        <tbody>
        {% for pay in payments %}
            <tr>
                <td class="v-a-m">
                    {% if pay.paid %}
                        <span class="text-success">{{ 'Paid' | trans() }}</span>
                    {% else %}
                        <span class="text-danger">{{ 'Not paid' | trans() }}</span>
                    {% endif %}
                </td>
                {% if not app.user.isUser() %}
                    <td class="v-a-m">
                        <span>{{ pay.document.owner.fullname }}</span>
                    </td>
                {% endif %}
                <td class="v-a-m">
                    <span>{{ pay.document.amountMonthlyFee | number_format(2, '.', ',') }} <i class="fa fa-fw fa-rouble"></i></span>
                </td>
                <td class="v-a-m">
                    <a href="{{ path('document_details', {'id': pay.document.id}) }}">{{ pay.document.code }}</a>
                </td>
                <td class="v-a-m">
                    <span>{{ pay.paymentDate | date('d.m.Y') }}</span>
                </td>
                <td class="v-a-m">
                    {% if pay.canPaid(app.user) %}
                        <a href="{{ path('pay_monthly_fee', {'id': pay.id}) }}"
                           class="btn btn-success"
                        ><i class="fa fa-ruble"></i> {{ 'Pay' | trans() }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set vars = {
        'route': 'payment_orders_list',
        'currentPage': currentPage,
        'maxPages': maxPages,
        'perPage': perPage,
        'filters': filters,
        'routeParams': {
            'orderBy': orderBy,
            'order': order
        }
    } %}

    {% include 'partial/paginator.html.twig' with vars %}

    <script>
        $(document).ready(function () {
            jQuery(function(){
                $('#perPage').select2({ width: '55px' });
            });
        });
    </script>
{% endblock %}