{% extends 'base.html.twig' %}

{% block title %}{{ "Contracts" | trans() }}{% endblock %}

{% block body %}
    <form class="form-inline filter-form" method="get" action="{{ path('documents_list') }}">
        <div class="panel panel-default no-bg  b-gray-dark">
            <div class="panel-body">
                {% if not app.user.isUser() %}
                    <div class="form-group">
                        <select class="form-control filter" name="filters[user]">
                            <option value="">{{ 'Select user' | trans() }}</option>
                            {% for owner in users %}
                                <option {% if filters.user is defined and filters.user == owner.id %}selected{% endif %} value="{{ owner.id }}">
                                    {{ owner.fullname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="form-group">
                    <input class="form-control filter" name="filters[document]" placeholder="{{ 'Search by code document' | trans() }}"
                           value="{% if filters.document is defined %}{{ filters.document }}{% endif %}">
                </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary add-document" data-toggle="modal" data-target=".addDocumentModal"><i class="fa fa-plus"></i> {{ 'Add document' | trans() }}</button>
                    <select class="form-control filter" id="perPage" name="perPage">
                        <option value="25" {{ perPage == 25 ? 'selected' }}>25</option>
                        <option value="50" {{ perPage == 50 ? 'selected' }}>50</option>
                        <option value="100" {{ perPage == 100 ? 'selected' }}>100</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="small text-muted text-uppercase"><strong>{{ 'Code' | trans() }}</strong></th>
                {% if not app.user.isUser() %}
                    <th class="small text-muted text-uppercase"><strong>{{ 'Owner' | trans() }}</strong></th>
                {% endif %}
                <th class="small text-muted text-uppercase"><strong>{{ 'Amount monthly fee' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Start at' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'End at' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Status' | trans() }}</strong></th>
                <th class="small text-muted text-uppercase"><strong>{{ 'Created at' | trans() }}</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td class="v-a-m">
                        <a href="{{ path('document_details', {'id': document.id}) }}">{{ document.code }}</a>
                    </td>
                    {% if not app.user.isUser() %}
                        <td class="v-a-m">{{ document.owner.fullName }}</td>
                    {% endif %}
                    <td class="v-a-m">{{ document.amountMonthlyFee | number_format(2, '.', ',') }} <i class="fa fa-fw fa-rouble"></i></td>
                    <td class="v-a-m">{{ document.startAt ? document.startAt | date('d.m.Y') : '-' }}</td>
                    <td class="v-a-m">{{ document.endAt ? document.endAt | date('d.m.Y') : '-' }}</td>
                    <td class="v-a-m">
                        <span class="text-{{ document.statusColor[document.status] }}">
                            {{ document.statusList[document.status] | trans() }}
                        </span>
                    </td>
                    <td class="v-a-m">{{ document.createdAt | date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set vars = {
        'route': 'documents_list',
        'currentPage': currentPage,
        'maxPages': maxPages,
        'perPage': perPage,
        'filters': filters,
        'routeParams': {
            'orderBy': orderBy,
            'order': order
        }
    } %}

    {% include 'partial/paginator.html.twig' with vars %}

    {% import 'document/partial/form.html.twig' as form %}

    {% set addDocumentVars = {
        'class': 'addDocumentModal',
        'formId': 'addDocumentForm',
        'title': 'Add document',
        'content': form.inputs(),
        'formAction': path('add_document'),
        'submitTitle': 'Add'
    } %}

    {% include 'partial/modal.html.twig' with addDocumentVars %}

    <script>
        $(document).ready(function () {
            jQuery(function(){
                $('#perPage').select2({ width: '55px' });
            });
        });
    </script>
{% endblock %}